/*Import font-family*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
    background-color: #000000 !important;
    padding-top: 10% !important;
}

#bodyprincipal {
    background-image: url("../img/sandmanFundo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 10% !important;
}

footer {
    background-color: #c98220;
    text-align: center;
    color: #000000;
    width: 100%;
}

footer a {
    color: #0d4884 !important;
}

#area {
    width: 100%;
    height: 560px;
    float: top;
    border: 2px solid black;
    padding: auto;
    margin: auto;
    margin-bottom: 10%;
}

#area h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: "Roboto Slab";
    color: #efae52;
}

#meuMenu a {
    text-shadow: #000000 0.1em 0.1em 0.2em;
}

.logo {
    margin-bottom: 5%;
    width: 100%;
}

.menu {
    background-color: #c98220 !important;
    font-family: "Roboto";
}

.menu a {
    color: #FFFFFF !important;
}

.menu li:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    transition: 0.2s;
}

.contornoLetra {
    font-size: 1.5em !important;
    text-shadow: #000000 0.1em 0.1em 0.2em;
}


.historia {
    background-color: #3a3a3a;
    /* #939392 #515151 #eeee22 #ffba00*/
    border: 1px solid #ffba00;
    color: #c3c3c3;
    /*#bababa #c3c3c3*/
    border-radius: 5px;
    margin-bottom: 2%;
}


.historia p {
    text-align: justify;
    font-size: 1em;
    font-family: "Open Sans";
}

.historia a {
    color: #FFFFFF;
}

.historia a:hover {
    color: #FFFFFF
}

.historia h1 {
    text-align: center;
    font-size: 2em;
    font-family: "Roboto Slab";
    color: #FFFFFF;
}

.historia h2 {
    text-align: left;
    font-size: 1.5em;
    font-family: "Roboto";
    color: #FFFFFF;
}

.historia span {
    font-style: italic;
}

.marcaLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 2%;
}

#capas {
    margin-bottom: 1%;
}

#capas img {
    width: 18%;
    margin: 1%;
    box-shadow: 5px 5px 5px #000000;
    float: left;
    opacity: 0.5;
}

#capas img:hover {
    opacity: 1;
    transition: 0.2s;
}

#volumes {
    margin-bottom: 1%;
}

#volumes img {
    width: 23%;
    margin: 1%;
    box-shadow: 5px 5px 5px #000000;
    float: left;
}

#sandmanHistoria {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
}

#autor {
    width: 100%;
    margin-top: 15%;

}

#daniel {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 2%
}

.thumbnail img {
    width: 100%;
}

.thumbnail h2 {
    text-align: center;
    font-size: 1.5em;
}

.pager a {
    background-color: #3a3a3a !important;
    color: #FFFFFF;
}

.pager a:hover {
    color: #c98220;
    text-decoration: underline !important;
}

#perpetuos {
    width: 100%;
    margin-top: 5%;
}

/*Media querries*/
@media screen and (max-width: 800px) {
    body {
        /*top right bottom left*/
        padding: 15% 2% 0% 2%;
    }

    #bodyprincipal {
        padding-top: 30% !important;
        padding-bottom: 2% !important;
        background-position: center !important;
    }

    #area {
        width: 100%;
    }

    #capas {
        margin-bottom: 5%;
        padding-bottom: 5%;
    }

    #capas img {
        width: 46%;
        margin: 2%;
    }

    #volumes {
        margin-bottom: 5%;
    }

    #volumes img {
        width: 46%;
        margin: 2%;
        float: left;
    }

    #sandmanHistoria {
        margin-bottom: 5%;
    }

    #autor {
        margin-top: 5%;
    }

    #daniel {
        width: 98%;
        padding: 1%;
    }

    #area {
        height: 500px;
        margin-bottom: 30%;
    }

}

@media screen and (max-width: 500px) {
    body {
        padding-top: 20% !important;
    }

    #bodyprincipal {
        padding-top: 40% !important;
    }

    #daniel {
        margin-top: 10%;
    }

    .contornoLetra {
        font-size: medium !important;
    }

    .fundoBotao {
        background-color: #c98220 !important;
    }
}